.container {
    width: 100vw;
    height: 15vh;
}
.card {
    border: solid black 2px;
    margin: .5rem;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 400px;
    height: 400px;
}

img {
    display:flex;
    width: 60px;
    height: 60px;
}

.content {
    display:flex;
    flex-direction: column;
}

.products-container {
    display: flex;
    flex-flow: row wrap;
    flex: 4;
}

.form-container {
    width: 200px;
    height: 200px;
    display:flex;
    border: solid black 2px;
    border-radius: 12px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;
    padding: 2.5rem;
}
